body {
    font-family: Arial, sans-serif;
}

.hero {
    background: linear-gradient(to right, #007bff, #6610f2);
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero h1 {
    font-size: 3rem;
}

.card {
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
}